/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Be Vietnam Pro', sans-serif;    
    width: 100vw;
    
}

/* estilos del header:
 1. Posicionar elementos*/
header {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin: 0 5%;
    padding-top: 5.5%;
}


/* 2. Ajustar tamaño del logo */
.black-logo {
    width: 145.54px;
    height: 23.74px;
}

/* 3. Establecer tamaño del nav */
.header-navbar {
    width: 40%;
}

/* 4. Estilizar y ajustar posición del nav */
.nav-pos {
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
    list-style: none;
    cursor: pointer;
    
}

/* 5. Ajustar color y quitar viñetas del texto del nav */
.nav-pos a {
    color: #242E52;
    text-decoration: none;   
}

.nav-pos a:hover {
    color: #8B48BF;
    text-decoration: underline;
    font-size: 14px;
}


/* 6. Estilizar botón */
.btn {
    background-color: #8B48BF;
    width: 134px;
    height: 44px;
    font-weight: 500;
    font-size: 13.1806px;
    line-height: 19px;
    border-radius: 50px;
    color: #FFFFFF;
    border: none;
}

/* 7. Agregar sombra al botón */
#btn-shadow {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}
.btn:hover {
    opacity: 70%; 
}
.fa-bars {
    display: none;
}

/* Estilos del main: 
   1. Posicionar elementos*/
main {
    display: flex;
    justify-content: center;
    margin: 6% 10%;
}
/* 2. Ajustar posición bloque izquerdo */
.wrapper {
    margin-top: 9%;
    padding-bottom: 35px;

} 
/* 3. Estilizar título */
.wrapper h1 {
    width: 80%;
    font-weight: 600;
    font-size: 3.625rem;
    line-height: 4.25rem;
    color: #232C50;
    margin-bottom: 3%;
    letter-spacing: -0.035em
}
/* 4. Estilizar párrafo */
.wrapper p {
    width: 56%;
    font-weight: 500;
    font-size: 1.035rem;
    line-height: 157.1%;
    color: #000000;
    margin-bottom: 20px;
    
}

/* 6. Ajustar imágen */
.diagrams {   
    padding-top: 3%;
}

/* Estilos de la primera sección 
   1. Posicionar elementos*/
.first-section {
    display: flex;
    justify-content: center;
    margin: 6% 8% 6% 11%;
}

/* 2. Estilizar título */
.left-container h2 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 114.6%;
    color: #232851;
    padding: 6% 0 10%;
}
/* 3. Estilizar párrafo */
.left-container p {
    width: 80%;
    font-weight: 500;
    font-size: 1rem;
    line-height: 151.1%;
    color: #000000;
}
/* Ajustes contenedor derecho 
   1. Ajustar margen izq*/
.right-container {
    margin: 2% 0 0 15%;
}

/* 2. Estilizar título */
.right-container h3 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.438rem;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #323851;
    padding-bottom: 3%;
        
}
.add-button h3 {
    padding-top: 2%;
}
.add-button p {
    padding-left: 17%;
}

/* 3. Agregar botón */
.add-button::before{ 
    color: #FFFFFF;
    width: 25px;
    height: 22px;
    background: #8B48BF;
    border-radius: 30px;
    padding: 10px 25px;
    float: left;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    margin-right: 20px;   
}

/* 4. Agregar contenido de botones */
.number1::before{
    content: "01";
}

.number2::before{
    content: "02";
}

.number3::before{
    content: "03";
}

/* 5. Estilizar párrafo */
.right-container p {
    width: 92%;
    font-weight: 500;
    font-size: 1.019rem;
    line-height: 1.625rem;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #B3B2B7;
    padding-bottom: 5%;
    
}
/* Estilos segunda sección */
.second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5% 12%;
}
/* Título */
.second-section h2 {
    font-weight: 700;
    font-size: 2.451rem;
    line-height: 1.595rem;
    padding-bottom: 8%;
}
.cards {
    display: flex;
    justify-content: space-around;    
}

article {
    text-align: center;
    background-color: #FAFAFA;
    Width: 445px; 
    Height: 219px;
}

article h3 {
    font-weight: 700;
    font-size: 1.004rem;
    line-height: 1.461rem;
    letter-spacing: -0.01em;
    color: #3F4868;
    margin-top: -10px;
    
}

article p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.566rem;
    color: #B9B9C1;
    
}
.size1 {
    margin: 1% 3% 0 4%;
}

.size2 {
    width: 88%;
    margin: 0 2% 5% 5%;
}
.avatar {
    position: relative;
    top: -30px;

}
/* Botón con transparencia */
#btn-opacity {
    opacity: 0.7;
    cursor: pointer;
    margin-top: 5%;
}

#btn-opacity:hover {
    opacity: 100%;
}


aside {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8B48BF;
    width: 100%;
    height: 224px;
}

aside h2 {
    width: 36%;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 3rem;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}
#btn-reverse {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    color: #8B48BF;

}

/* Estilos del footer */
footer {
    background: #1E1E26;
    width: 100vw;
    height: 247px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12%;
    margin: 0;
}
.footer-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    
}
.icons-container {
    margin-top: 40%;    
}
.fa-brands {
    color: #FFFFFF;
    font-size: 1.25rem;
    padding: 0 5px;
    
}

.feature {
    list-style: none;
    
}
.feature li {
    margin-bottom: 20%;
}

.feature a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.438rem;
    
}
.footer-container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.update {
    background: #FFFFFF;
    border-radius: 50px;
    width: 201px;
    height: 44px;
    color: #A0A0A0;
    font-weight: 600;
    font-size: 0.824rem;
    line-height: 1.188rem;
    padding-left: 10px;
    margin-top: 7%;
    
}  
.small-btn {
    width: 63px;
    height: 42px;
} 
.footer-container2 p {
    color: #8C8C94;
    font-weight: 500;
    font-size: 0.781rem;
    line-height: 1.125rem;
    margin-top: 30%;
} 

/* Versión móviles */
@media screen and (max-width: 480px) {
    /* Estilos del header */
    .black-logo {
        width: 50%;
        height: 25%;
        position: relative;
        left: 8%;
        padding-top: 15%;
    }
    .header-navbar {
        display: none;
    }
    header .btn {
        display: none;
    }
    .fa-bars {
        display: block;
        position: relative;
        left: 60%;
        font-size: 4rem;
        padding-top: 12%;

    }
    /* Estilos del main */
    main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding-top: 15%;    
        
    }
    .diagrams {
        position: relative;
        left: 38%;
    }
    .wrapper {
        text-align: center;    
        
    }

    .wrapper h1 {
        width: 170%;
        font-size: 4.8rem;
        line-height: 5.6rem;
        padding-right: 15%;
        position: relative;
        left: 12%;
        margin-top: 32%;
    }
    .wrapper p {
        width: 130%;
        position: relative;
        left: 22%;
        font-size: 1.35rem;
        margin-top: 10%;
    }
    .wrapper button {
        position: relative;
        left: 35%;
        margin-top: 6%;
    }
    /* Primera sección */
    .first-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20%;
    }
    .left-container {
        text-align: center;
        position: relative;
        left: 15%;
    }
    .first-section h2 {
        width: 160%;
        font-size: 3.2rem;
        padding-right: 13%;
    }
    .first-section p {
        width: 140%;
        font-size: 1.3rem;
        margin-top: 3%;
    }
    .right-container {
        margin-top: 40%;
    }
    .purple-background {
        background: rgba(139, 72, 191, 0.3);
        border-radius: 50px 0px 0px 50px;
        width: 190%;
        font-size: ;
    }
    .cards article {
        /* width: 160vw;
            height: 30vh; */
    }
    article p {
        font-size: ;
    }



}


